<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<script>
    $(function(){
         var files = '{{ files|tojson }}';
         var files = JSON.parse(files);
       // --#var accounts = '{{ account_lst|tojson }}';
        // #var accounts = JSON.parse(accounts);
   //      for (var item of files) {
    //        $('#files').html(
     //           '<tr><td class="Papers" style="display:none">'+ item['title'] + '</td></td><select name= accounts method="GET" action="/">
    //            <option value= "{{name}}" SELECTED>{{accounts}}</option>"
    //             {% endfor %}
    //            </select><tr>');

        }
    );

</script>
<body>

{% include 'layout.html' %}
<div class="container">
    <h2 style="text-align: center; margin-top: 20px">
        Papers
    </h2>
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Paper Title</th>
      <th scope="col">PCM</th>
        <th scope="col">Action</th>
    </tr>
  <tr>
    <td>MDE.pdf</td>
     <td> <form action="/action_page.php">
    <select name="cars" multiple>
  <option value="volvo">SAAD</option>
  <option value="saab">SULTAN</option>
  <option value="opel">WANG</option>
  <option value="audi">ELIJAH</option>
   <option value="audi">Vibhavi</option>
</select>
</form></td>
     <td> <button type="button" class="btn btn-success">Assign</button></td>

  </tr>
  <tr>
    <td>Accounting.pdf</td>


  </tr>
  <tr>
    <td>Quality Assurance.pdf</td>


  </tr>
  <tr>
    <td>Testing.pdf</td>


  </tr>
  </thead>
  <tbody id="files">

  </tbody>
</table>
</div>


</body>
</html>