<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>
<script>

    $(function(){
        let err = '{{ error }}';
        if (err) {
            alert(err)
        }
    });

    </script>
{% include 'layout.html' %}
<div class="container">
    <h2 style="text-align: center; margin-top: 20px">
        Notifications
    </h2>
<form method="post"  enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to update the deadlines?');">
    <div class="form-group">
    <label for="paperSubmission">Paper Submission Deadline</label>
    <input type="text" class="form-control" name="Author" placeholder="mm/dd/yyyy" value = {{notifications['Author']}} required>
  </div>
    <div class="form-group">
    <label for="pcmSubmission">PCM Submission Deadline</label>
    <input type="text" class="form-control" name="PCM" placeholder="mm/dd/yyyy" required value = {{notifications['PCM']}}>
  </div>
    <div class="form-group">
    <label for="pccSubmission">PCC Submission Deadline</label>
    <input type="text" class="form-control" name="PCC" placeholder="mm/dd/yyyy" required value = {{notifications['PCC']}}>
  </div>

	<input type="submit" value="Submit" class="btn btn-primary float-left">
</form>
    </div>

</body>
</html>